$red: #903;
$black: #444;
$white: #fff;
$main_font: Helvetica, Arial, sans-serif;

body {
	font-family: $main_font;
}

h1 {
	color: $red;
	font: 32px/1 $main_font;
}

header h1 {
	font-size: 40px;
	line-height: 80px;
	background: transparent;
	padding-left: 84px;
}

@mixin tabs ($background: blue, $color: yellow) {
	ul {
		list-style: none;
		margin: 0;
		padding: 1px 12px 0px 12px;
		background: $background;
		overflow: hidden;
	}

	li {
		float: left;
	}

	a {
		text-decoration: none;
		display: 18px;
		background: $background;
		color: $color;
		&:hover {
			background: darken($background, 30%);
		}
	}
}

nav {
	@include tabs ($background: $black, $color: $white);
	font-weight: bold;
	font-size: 20px;
	padding: 25px;
}

p {
	font: 13px/1.4 $main-font;
}

label { display : block; }